<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <display-name>AuthProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgottenPassword</display-name>
    <servlet-name>ForgottenPassword</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.ForgottenPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgottenPassword</servlet-name>
    <url-pattern>/ForgottenPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dash</display-name>
    <servlet-name>Dash</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.Dash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dash</servlet-name>
    <url-pattern>/Dash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_new_quote</display-name>
    <servlet-name>Add_new_quote</servlet-name>
    <servlet-class>net.javaguides.registration.contoller.Add_new_quote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_new_quote</servlet-name>
    <url-pattern>/Add_new_quote</url-pattern>
  </servlet-mapping>
</web-app>